Assigment1

This is Exercise 3.
Hi Everyone, This is a basic introduction of this notebook

Listing Data SCience Languages
1. Python
2. R

Data science libraries for Python and R:
Python - scikit-learn
R- Caret|

Data Science tools

Category	Tool
Programming Languages	Python, R
IDEs	Jupyter Notebooks, RStudio, VS Code
Data Manipulation	Pandas (Python), dplyr (R)
Data Visualization	Matplotlib, Seaborn (Python), ggplot2 (R), Tableau
Machine Learning	Scikit-learn, TensorFlow, PyTorch (Python), caret (R)
Big Data	Apache Hadoop, Apache Spark
Database	SQL, MongoDB, PostgreSQL
Version Control	Git, GitHub, GitLab
Dashboarding	Tableau, Power BI, Dash (Python)
Cloud Platforms	AWS, Azure, Google Cloud

Examples of Arthmetic Expression

In [5]:
# Addition and multiplication
(3+4)*4

28

In [6]:
# minutes to hours 
minutes_input = 120
hours_output = minutes_input / 60
print(f"{minutes_input} minutes is equal to {hours_output} hours.")

120 minutes is equal to 2.0 hours.

Objective:
the objective was to use python to find how many hours is it in the minutes provided my me
i created two variables minutes_input, hours_output and I divided output with 60 because 1 hour = 60 minutes

by-Devank Banga